.header {
  padding-top: 32px;
  background-color: $white-200;

  &__container {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    margin-right: 32px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    color: $grey-200;
    transition: color 0.2s linear;

    &::after {
      content: '•';
      display: inline-block;
      height: 0;
      opacity: 0;
      color: $blue-100;
      transition: opacity 0.2s linear,
        height 0.2s linear;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $blue-100;

        &::after {
          height: 27px;
          opacity: 1;
        }
      }
    }
  }

  &__button {
    margin-right: 8px;
    color: $blue-100;
    background-color: $white-100;
  }
}