.product-card {
  max-width: 376px;
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 1px solid $grey-600;

  &__link {
    display: block;
    margin-bottom: 16px;
  }

  &__img {
    object-fit: contain;
  }

  &__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    color: $black-100;
  }

  &__location {
    margin-bottom: 16px;
  }

  &__info {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: 24px;
    font-weight: 600;
    color: $blue-100;
  }

  &__living-area {
    padding: 4px 8px;
    background-color: $white-200;
    
    span {
      color: $black-100;
    }
  }

  &__btn {
    border: 1px solid $blue-100;
    background-color: $white-100;
    color: $blue-100;
    box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0);
    transition: color 0.2s linear,
    background-color 0.2s linear,
    box-shadow 0.2s linear;

    @media (any-hover: hover) {
      &:hover {
        background-color: $blue-100;
        color: $white-100;
        box-shadow: 0 0 20px 0 rgba(105, 185, 157, 0.58);
      }
    }
  }
}